{% for phone_number in user.phonenumbers %}
<div class="form-group col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
	<label class="text-muted" for="phone_number"><i class="fas fa-mobile-alt"></i> Phone Number</label>
	{% if not phone_number.is_primary %}
		<a class="nostyle text-dark float-right" href=""  data-toggle="modal" data-target="#{{phone_number.id}}myModal">
	    		<i class="fas fa-times"></i>
		</a>
	{% endif %}	
	<input type="hidden" name="phone_number[{{phone_number.id}}][id]" value="{{phone_number.id}}">
	<input class="gapex {{ errors.phone_number ? ' is-invalid': '' }}" type="text" name="phone_number[{{phone_number.id}}][phone_number]" id="phone_number" value="{{ old.phone_number ? old.phone_number : phone_number.phone_number }}">
	{% if errors.phone_number %}
	  <span class="invalid-feedback">{{ errors.phone_number | first | capitalize  | replace({'_': ' '}) }}</span>
	{% endif %}
</div>	


<!-- The Modal -->
<div class="modal" id="{{phone_number.id}}myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
        
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        You will not be able to recover this item if you choose to delete it. 
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      	<a class="btn btn-danger btn-sm" href="{{path_for('user.detach',{
				user_id:user.id,
				obj:'phone_number',
				obj_id:phone_number.id,
	})}}">Delete</a>
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
{% endfor %}