{% extends 'app/includes/template.twig' %}
{% block title %}lessons{% endblock %}

{% block body %}

<div class="jumbotron bg-light col-lg-8 mx-auto">
  <h1><i class="fas fa-warehouse"></i> Update Lesson Detials</h1>
  <p class="text-muted">This is where you update lesson details.</p> 
  
  <form action="{{path_for('lesson.store')}}" method="post" enctype="multipart/form-data">

  	<!-- Menu items  -->
  	<ul class="nav p-2">
	 <li class="nav-item">
    	<a class="btn btn-dark btn-circle" href="{{path_for('lesson.index',{lesson_id:lesson.id})}}">
    		<i class="fas fa-chevron-left"></i>
    	</a>
	  </li>
	  <li>&nbsp</li>
	  <li class="nav-item">
	  	<button class="btn btn-dark btn-circle" type="submit">
    		<i class="fas fa-check"></i>
   		</button>
	  </li>
	</ul>

  	<!-- Form Inputs -->

	<div class="form-group">
		<label for="name"><b>Name</b></label>
		<input class="form-control border-remove {{ errors.name ? ' is-invalid': '' }}" type="text" name="name" value="{{ old.name ? old.name: lesson.name }}" id="name">
		{% if errors.name %}
		  <span class="invalid-feedback">{{ errors.name | first | capitalize }}</span>
		{% endif %}
	</div>

	<div class="form-group">
		<label  for="objective"><b>Objectives</b></label>
		<textarea class="form-control border-remove {{ errors.objective ? ' is-invalid': '' }}" type="textarea" name="objective" id="objective" rows="2" cols="50">{{ old.objective ? old.objective: lesson.objective }}</textarea>

		{% if errors.objective %}
		  <span class="invalid-feedback">{{ errors.objective | first | capitalize }}</span>
		{% endif %}
	</div>

	<div class="form-group">
		<label  for="description"><b>Description</b></label>
		<textarea class="form-control border-remove {{ errors.description ? ' is-invalid': '' }}" type="textarea" name="description" id="description" rows="2" cols="50">{{ old.description ? old.description: lesson.description }}</textarea>

		{% if errors.description %}
		  <span class="invalid-feedback">{{ errors.description | first | capitalize }}</span>
		{% endif %}
	</div>

	<div class="custom-file">
		<label class="custom-file-label" for="customFile">Choose an image</label>
	    <input type="file" class="custom-file-input" name="image" id="customFile">
	    
	</div>	

</form>

	

</div>


{% endblock %}