{% extends 'app/includes/template.twig' %}
{% block title %}Products{% endblock %}

{% block body %}


<div class="jumbotron bg-light col-lg-8 mx-auto">
  <h1><i class="fas fa-warehouse"></i> View Product</h1>
<p class="text-muted">Plese use the menu to navigate between products</p>
			  <ul class="nav p-2">
				 <li class="nav-item">
			    	<a class="btn btn-dark btn-circle" href="{{path_for('product.index')}}">
			    		<i class="fas fa-chevron-left"></i>
			    	</a>
				  </li>

				  <li>&nbsp</li><li>&nbsp</li>
				  <li class="nav-item">  
				    <a class="btn btn-dark btn-circle" href="{{path_for('product.edit',{product_id:product.id})}}">
				    	<i class="fas fa-pen"></i>
				    </a>
				  </li>

				  <li>&nbsp</li><li>&nbsp</li>
				  <li class="nav-item">
				    <a class="btn btn-dark btn-circle" href="#" data-toggle="modal" data-target="#myModal">
				    	<i class="fas fa-times"></i>
				    </a>
				  </li>
				</ul>

<div class="alert alert-light p-1 row">
	<div class="col-lg-4">
		<img class="rounded" src="{{base_url('/') ~ product.path}}" alt="{{product.name}}" style="border-radius: 0%">
	</div>
	<div class="col-lg-8">
		<h2 class="mt-2">{{product.name}}</h2>
		<hr>
 		<p><strong>Description:</strong> {{product.description}}</p>
	</div>
</div>
<h4 class=""><i class="fas fa-box"></i>  Batches</h4>

<ul class="nav p-2 float">
<li class="nav-item"> 
<a class="btn btn-dark btn-circle" href="{{path_for('batch.create',{product_id:product.id})}}">
	<i class="fas fa-plus"></i>
</a>
</li>
</ul>


	<div class="list-group mt-2">
		{% for batch in product.batches %}
		  <a href="{{path_for('batch.show',{batch_id : batch.id})}}" class="list-group-item list-group-item-action">
		  	<i class="fas fa-box"></i> 
		  	{{batch.created}}
		  	{% if batch.is_published == 1 %}
				<b class="text-success"><i class="fas fa-check-circle"></i></b>
			{% endif %}
		  	<span class="badge btn-danger badge-pill float-right">{{batch.amount}}</span>	
		  </a>
		{% endfor %}
	</div>

</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
        
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        You will not be able to recover this item if you choose to delete it. 
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      	<a class="btn btn-danger btn-sm" href="{{path_for('product.delete',{product_id : product.id})}}">Delete</a>
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>


{% endblock %}