{% extends 'app/includes/template.twig' %}
{% block title %}Episode{% endblock %}

{% block scripts_ht %}
	<script src="{{base_url()}}/includes/scripts/jquery-3.2.1.slim.min.js"></script>
{% endblock %}

{% block body %}


<div class="jumbotron bg-light col-lg-12 mx-auto">
  <h1><i class="fab fa-leanpub"></i> View Episode</h1>
<p class="text-muted">Please use the menu to navigate between episodes</p>
<ul class="nav p-2">
 <li class="nav-item">
	<a class="btn btn-dark btn-circle" href="{{path_for('season.show',{season_id:episode.season_id})}}">
		<i class="fas fa-chevron-left"></i>
	</a>
  </li>
  <li>&nbsp</li><li>&nbsp</li>
  <li class="nav-item">  
    <a class="btn btn-dark btn-circle" href="{{path_for('episode.edit',{episode_id:episode.id})}}">
    	<i class="fas fa-pen"></i>
    </a>
  </li>

  <li>&nbsp</li><li>&nbsp</li>
  <li class="nav-item">
    <a class="btn btn-dark btn-circle" href="#" data-toggle="modal" data-target="#myModal">
    	<i class="fas fa-times"></i>
    </a>
  </li>
</ul>
<div class="alert alert-light p-1 row">
		
		<div class="col-lg-8">
			{{episode.video_file}}
			<video id="vid" width="100%px;"  controls autoplay controlsList="nodownload">
		        <source  src="{{base_url('/') ~ episode.path }}" type="video/mp4">
		        Your browser does not support the video tag.
		    </video>
		    <p class="text-dark p-0 m-0"><b>E{{episode.rank}}</b>	{{episode.name}}</p>

			<p><small><strong>Description:</strong> {{episode.description}}</small></p>
		</div>

		<div class="col-lg-4">
		 <div class="list-group list-group-flush my-3 scrollable" style="height: 100%;">
				{% if episode.season.episodes.count != 0 %}
				{% for video in episode.season.episodes %}
				  <a href="{{path_for('episode.show',{episode_id : video.id})}}" class="list-group-item list-group-item-action">
				    <p class="truncate p-0 m-0"><small>
				    	{% if video.id == episode.id %}<i class="fa fa-caret-right"></i>{% endif %}
					    <b>E{{video.rank}}</b> {{video.name}}</small>
				    </p>
				  </a>
				{% endfor %}
				{% else %}
				    <div class="alert alert-light text-center p-5">
				    	There are no <strong>episode videos</strong> yet.
				    </div>
				{% endif %}
			</div>
		</div> 
	</div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
        
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        You will not be able to recover this item if you choose to delete it. 
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      	<a class="btn btn-danger btn-sm" href="{{path_for('episode.delete',{episode_id : episode.id})}}">Delete</a>
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>


{% endblock %}


{% block scripts_ft %}
<script type="text/javascript">

	$(window).keypress(function(e) {
	  var video = document.getElementById("vid");
	  if (e.which == 32) {
	    if (video.paused)
	      video.play();
	    else
	      video.pause();
	  }
	});

</script>
{% endblock %}

