{% extends 'app/includes/template.twig' %}
{% block title %}lessons{% endblock %}

{% block scripts_ht %}
	<script src="{{base_url()}}/includes/scripts/jquery-3.2.1.slim.min.js"></script>
{% endblock %}

{% block body %}


<div class="jumbotron bg-light col-lg-12 mx-auto pt-0">



	<a class="btn btn-dark btn-circle my-3" href="{{path_for('profile.session',{session_id : session.id})}}">
		<i class="fas fa-chevron-left"></i>
	</a>



<div class="alert alert-light p-1 row">
	
	
		<div class="col-lg-8">
			<video id="vid" width="100%px;"  controls autoplay controlsList="nodownload">
		        <source  src="{{base_url('/') ~ lessonvideo.path }}" type="video/mp4">
		        Your browser does not support the video tag.
		    </video>
		    <p class="text-dark p-0 m-0"><b>E{{lessonvideo.rank}}</b>	{{lessonvideo.name}}</p>

			<p><small><strong>Description:</strong> {{lessonvideo.description}}</small></p>
		</div>

		<div class="col-lg-4">
		 <div class="list-group list-group-flush my-3 scrollable" style="height: 100%;">
				{% if lessonvideo.lesson.lessonvideos.count != 0 %}
				{% for video in lessonvideo.lesson.lessonvideos %}
				  <a href="{{path_for('profile.lessonvideo',{lessonvideo_id : video.id, session_id:session.id})}}" class="list-group-item list-group-item-action">
				    <p class="truncate p-0 m-0"><small>
				    	{% if video.id == lessonvideo.id %}<i class="fa fa-caret-right"></i>{% endif %}
					    <b>E{{video.rank}}</b> {{video.name}}</small>
				    </p>
				  </a>
				{% endfor %}
				{% else %}
				    <div class="alert alert-light text-center p-5">
				    	There are no <strong>lesson videos</strong> yet.
				    </div>
				{% endif %}
			</div>
		</div> 

</div>

{% endblock %}


{% block scripts_ft %}
<script type="text/javascript">

	$(window).keypress(function(e) {
	  var video = document.getElementById("vid");
	  if (e.which == 32) {
	    if (video.paused)
	      video.play();
	    else
	      video.pause();
	  }
	});

</script>
{% endblock %}

