{% extends 'app/includes/template.twig' %}
{% block title %}Lesson Videos{% endblock %}

{% block body %}


<div class="jumbotron bg-light col-lg-8 mx-auto">
  <h1><i class="fab fa-leanpub"></i> Update Lesson Text Question</h1>
  <p class="text-muted">This is where you create new lesson reading texts.</p> 

  <form action="{{path_for('lessontextquestion.update',{lessontextquestion_id: lessontextquestion.id})}}" method="post">

  	<!-- Menu items  -->
  	<ul class="nav p-2">
	 <li class="nav-item">
    	<a class="btn btn-dark btn-circle" href="{{path_for('lessontextquestion.show',{lessontextquestion_id:lessontextquestion.id})}}">
    		<i class="fas fa-chevron-left"></i>
    	</a>
	  </li>
	  <li>&nbsp</li>
	  <li class="nav-item">
	  	<button class="btn btn-dark btn-circle" type="submit" value="Create">
    		<i class="fas fa-check"></i>
   		</button>
	  </li>
	</ul>

  	<!-- Form Inputs -->

  	<div class="form-group">
		<label for="rank"><b>Rank</b></label>
		<input class="form-control border-remove {{ errors.rank ? ' is-invalid': '' }}" type="number" name="rank" value="{{ old.rank ? old.rank: lessontextquestion.rank }}" id="rank">
		{% if errors.rank %}
		  <span class="invalid-feedback">{{ errors.rank | first | capitalize }}</span>
		{% endif %}
	</div>

	<div class="form-group">
		<label for="question"><b>Question</b></label>
		<input class="form-control border-remove {{ errors.question ? ' is-invalid': '' }}" name="question" question="question" value="{{ old.question ? old.question: lessontextquestion.question }}" id="question">
		{% if errors.question %}
		  <span class="invalid-feedback">{{ errors.question | first | capitalize }}</span>
		{% endif %}
	</div>

	<div class="form-group">
		<label for="answer"><b>Answer</b></label>
		<input class="form-control border-remove {{ errors.answer ? ' is-invalid': '' }}" type="text" name="answer" value="{{ old.answer ? old.answer: lessontextquestion.answer }}" id="answer">
		{% if errors.answer %}
		  <span class="invalid-feedback">{{ errors.answer | first | capitalize }}</span>
		{% endif %}
	</div>

	<input type="hidden" name="lessontext_id" value="{{lessontext.id}}">
	
</form>

	

</div>


{% endblock %}