{% extends 'app/includes/template.twig' %}
{% block title %}Create ContactObject{% endblock %}

{% block body %}


<div class="col-lg-8 mx-auto">
<div class="jumbotron bg-light">
  <h1 class="pb-3"><i class="fas fa-plus-circle"></i>Create ContactObject</h1>

<form action="{{path_for('user.postappend.contactobject')}}" method="post">
	
   <div class="form-group">	
	   	<select class="form-control" name="conapp_id" id="">
	  	{% for conapp in conapps %}
	  	    <option value="{{conapp.id}}">{{conapp.name | capitalize }}</option>
	  	{% endfor %}
	  </select>
   </div>
<input type="hidden" name="user_id" value="{{user.id}}">
<a class="btn btn-danger btn-lg mt-5" href="{{path_for('user.edit',{user_id:user.id})}}"><i class="fas fa-chevron-left"></i></a>	
  <button class="btn btn-dark btn-lg btn-circle float-right mt-5" type="submit" value="Create"><i class="fas fa-plus"></i></button>
   
</form>

</div>
</div>


{% endblock %}