{% if auth.user %}


<li class="nav-item"> <a class="nav-link" href="{{path_for('profile.index')}}">Profile</a> </li>
<li class="nav-item"> <a class="nav-link" href="{{path_for('order.index')}}">Orders</a> </li>
<li class="nav-item"> <a class="nav-link" href="{{path_for('app.logout')}}">Logout</a> </li>



{% else %}
 	
    <li class="nav-item"> <a class="nav-link" href="{{path_for('app.login')}}">Login</a> </li>
  
    <li class="nav-item"> <a class="nav-link" href="{{path_for('app.register')}}">Register</a> </li>
  
{% endif %}