{% extends 'app/includes/template.twig' %}
{% block title %}Redeem Order{% endblock %}

{% block body %}
<div class="row">		
			<div class="col-lg-4 mx-auto">

					<div class="card">
					  
					  <div class="card-body bg-light">
					    <h4 class="text-center">{{order.batch.item.name}}</h4 class="text-center">
					    	<p class="text-center"><small>Amount: {{order.amount}}</small></p>
							 <img class="mx-auto d-block" src="{{base_url('/')}}/{{order.batch.item.image}}" alt="qrcode">
							  <br>
							 <p class="text-center"><small>Expiry: {{order.batch.expiry}}</small></p>
							
							{% if order.completed == 1 %}
								<p class="text-center text-danger"><b>REDEEMED</b></p>
							{% else %}
							<form action="{{path_for('order.redeem',{order_id:order.id})}}" method="post">
								<input type="hidden" name="order_id" value="{{order.id}}">
								<input type="submit" class="btn btn-success btn-block text" value="REDEEM">
							</form>
							<br>
								<p class="text-center text-success"><b>REDEEM NOW</b></p>
							{% endif %}
					  </div>
					 
					</div>

			 </div>
</div>

{% endblock %}